<app-header></app-header>
<div class="p-2">
    <div class="row mt-2">
       <div class="col-md-8 mt-1">
        <h4>User Table</h4>
       </div>
       <div class="col-md-4 mt-1 text-end">
        <input type="text" name="" class="form-control" placeholder="Search User by name" id="" [(ngModel)]="searchUser" 
        (input)="filterUser()">
       </div>
       <div class="col-md-12 mt-2">
        <p-table
                [value]="userFilter"
                [paginator]="true"
                [rows]="10"
                [tableStyle]="{ 'min-width': '50rem' }"
                [rowsPerPageOptions]="[10, 20, 30,50,100,200]"
            >
                <ng-template #header>
                    <tr>
                        <th >Id</th>
                        <th >First Name</th>
                        <th >Last Name</th>
                        <th >Gander</th>
                        <th >Email Id</th>
                        <th >Phon No.</th>
                        <th >Birth Data</th>
                        <th >Image.</th>
                        <th colspan="2">Action</th>
                    </tr>
                </ng-template>
                <ng-template #body let-user>
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.firstName }}</td>
                        <td>{{ user.lastName }}</td>
                        <td>{{ user.gender }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.phone }}</td>
                        <td>{{ user.birthDate }}</td>
                        <td><img [src]="user.image" width="50px" alt="img"></td>
                        <td><p style="cursor:pointer ;color: rgb(254, 161, 11);">Edit</p></td>
                        <td><p style="cursor:pointer ;color: rgb(11, 11, 207);">Details</p></td>
                    </tr>
                </ng-template>
            </p-table>
    </div>
</div>
</div>