<div class="p-d-flex p-jc-between p-ai-center p-mb-3">
    
    <div class="row">
        <div class="col-md-8 mt-2">
            <div class="p-mr-3">
                <h4 class="p-text-primary">WebPlate Task</h4>
              </div>
        </div>
        <div class="col-md-4 mt-2 text-end">
            <p-button label="User" icon="pi pi-users" class="p-mr-2" styleClass="p-button-outlined p-button-info" (click)="callAllUser()"></p-button>
            <p-button   label="Product" icon="pi pi-box" class="p-mr-2 mg" styleClass="p-button-outlined p-button-success"  (click)="callAllProduct()"></p-button>
            <p-button   label="Log-out" icon="pi pi-sign-out" (click)="logout()" class="mg p-button-outlined p-button-danger"></p-button>
        </div>
        
   
    </div>
     
  
  </div>
  